<html>

  <head>
    <title>I want to tell you</title>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
  </head>

  <style>
    .table {
      display: table;
    }

    .row {
      display: table-row;
    }

    .column {
      display: table-cell;
      vertical-align: middle;
    }
  </style>

  <body>
    <div class="table">
      <div class="row">I want to tell you：</div>
      <div class="row">
        <div class="column"><textarea id="whatisaid" cols=50 rows=10></textarea></div>
        <div class="column"><button>-></button></div>
        <div class="column"><textarea id="decoded" cols=50 rows=10></textarea></div>
      </div>
    </div>
  </body>

</html>
