<html>

  <head>
    <title>我想对你说</title>
  </head>

  <style>
    .table {
      display: table;
      border-collapse: collapse;
      font-size: 20px;
    }

    .row {
      display: table-row;
      border-bottom: 1px solid black;
    }

    .privacy-row {
      display: table-row;
      border-bottom: 1px solid black;
      font-weight: bold;
      color: red;
    }

    .column {
      display: table-cell;
      width: 50%;
    }
  </style>

  <body>
    <div>
        我想对你说：
        <form action="/">
          <textarea name="content" cols=50 rows=10></textarea>
          <input type="submit" />
        </form>
      </h2>
    </div>
  </body>

</html>
